body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .user-info i {
    margin-right: 8px;
  }

.btn-success {
    background-color: #0d6efd;

}

.logo-h1 {
    
    color:  #0d6efd;

}

.dark-mode {
    background-color: #333;
    color: #fff;
}
.dark-mode .navbar li a {
    color: #fff;
}
.dark-mode .navbar-brand .Text-r {
    color: #2905dd; /* Or any other color you prefer */
}
.dark-mode .carousel-control-prev-icon, .dark-mode .carousel-control-next-icon {
    color: #fff;
    background-color: #222;
}
.dark-mode .card {
    background-color: #222;
    color: #fff;
}
.dark-mode footer {
    background-color: #222;
    color: #fff;
}
.navbar-brand h1 {
    font-size: 1.5rem;
}
.navbar-toggler {
    border-color: #fff;
}
.navbar-nav .nav-link {
    margin: 0 10px;
}
.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* Customize carousel control icons */
.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #000;
    background-color: black;
    font-size: 25px;
    padding: 2px;
}
/* Style for custom control buttons */
.custom-carousel-control {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-carousel-control span {
    color: white;
}

.btn-logout {
    background: none;
    border: none;
    color: black;
    font-size: 1.5rem;
    margin-left: 15px;
    cursor: pointer;
}

.btn-logout:hover {
    color: darkgray;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}
.dark-mode .navbar li a {
    color: #fff;
}
.dark-mode .navbar-brand .Text-r {
    color: #1e05dd; /* Or any other color you prefer */
}
.dark-mode .carousel-control-prev-icon, .dark-mode .carousel-control-next-icon {
    color: #fff;
    background-color: #222;
}
.dark-mode .card {
    background-color: #222;
    color: #fff;
}
.dark-mode footer {
    background-color: #222;
    color: #fff;
}      .dropdownul {
    background-color: #0d6efd; /* لون الخلفية */

}

.dark-mode .dropdownul {
    background-color: #0d6efd;
    color: black;  
}
.dropdownul {background-color: #0d6efd;
    color: black;
}
